@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #100126;;
    color: #F2F2F2;
    overflow-x: hidden;
    

}




 #name{
    font-weight: bolder;
    font-size: 15pt;
    color: #6D3E8C;
 }


.hard:hover, .soft:hover, h1:hover{
    color: #6D3E8C;

}

    

body::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
  }
  

  
  body::-webkit-scrollbar-thumb {
    background-color: #A1AE8D;    /* color of the scroll thumb */
    border: 1px solid #100126; 
    border-radius: 7px;
/* creates padding around scroll thumb */
  }

/* Color Theme Swatches in Hex */
.algodão-roxo-1-hex { color: #6D3E8C; }
.algodão-roxo-2-hex { color: #100126; }
.algodão-roxo-3-hex { color: #F2F2F2; }
.algodão-roxo-4-hex { color: #A1AE8D; }
.algodão-roxo-5-hex { color: #591A88; }

/*DIV Nome e profissao */
.apresentacao{
    text-align: center;
    color: #F2F2F2;
    font-size: 26pt;



}


.span-gustavocampos{
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.301) 0%, rgba(9, 9, 121, 0.363) 22%, rgba(88, 26, 136, 0.336) 69%);
    animation: fadeInRight 1s normal;
}
.span-profissao{
    color: gray;
    font-weight: 100;
    font-size: 15pt;
    animation: fadeInRight 2.5s normal;
    text-align: center;
}

.selos{
    width: 80px;
}